        body{
		margin: 0px;
		background-image: url(gambar.jpeg);
		font-family:;
	   }
       .container{
	    margin: 0 auto;
		width: 1200PX;
		
	   }
		.header {
			
			height:80px ;
			text-align: center;
			
			
		}
		.menu{
			height: 700px;
			width: 200px;
			float: left;
			text-align: center;
			
		}
		.main{
			height: 700px;
			width: 1197px;
			float: menu;			
	
		}
		.foter{
			height: 75px;
			text-align: center;	
			
		}
		p,h2,div,a {
			color: white;					;
		}

		#ukuran{
        width:100px ;
        height:100px ;
     }
     #red{
     	color: blue;
     }